@use '../../functions' as f;
@use '../../mixins' as m;
@use '../../variables' as v;

#products_list {
    background-color: white;
    .products_list-container {
        .content {
            @include m.flex($direction: column, $justify: start, $items: stretch, $gap: 4rem);
            .section-wrapper {
                @include m.flex($direction: column, $justify: start, $items: stretch, $gap: .8rem);
                .title {
                    font-size: 24px;
                    font-weight: 500;
                    color: var(--text-colors);
                }
                .desc {
                    font-size: 14px;
                    color: f.mix-color($base: var(--text-colors), $with: transparent, $opacity: 70%);
                    @include m.respond(md) {
                        font-size: 16px;
                    }
                }

                .card-wrapper {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: clamp(1rem, 3vw, 1.2rem);
                    margin-top: 1rem;

                    @include m.respond(md) {
                        grid-template-columns: repeat(3, 1fr);
                    }

                    .card {
                        border: 1px solid f.mix-color($base: black, $with: transparent, $opacity: 10%);
                        border-radius: 20px;
                        overflow: hidden;
                        @include m.flex($direction: column, $justify: start, $items: stretch);

                        .card-image {
                            width: 100%;
                            aspect-ratio: 16/9;
                            object-fit: cover;
                        }

                        .card-content {
                            flex: 1;
                            padding: clamp(1.4rem, 3vw, 1.6rem);
                            @include m.flex($direction: column, $justify: start, $items: start, $gap: 12px);

                            .title {
                                font-size: 18px;
                                color: var(--text-colors);
                                line-height: 1.6;
                            }

                            .desc {
                                line-height: 1.6;
                                font-size: 14px;
                            }

                            .cta {
                                margin-top: auto;
                                @include m.button()
                            }
                        }
                    }
                }
            }
        }
    }
}