#industry {
  background-color: white;
}
#industry .industry-container .content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 2rem;
}
#industry .industry-container .content .options-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
#industry .industry-container .content .options-btn .option-btn {
  border: none;
  background-color: white;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 0.75rem;
  color: var(--text-colors);
  font-family: var(--primtext);
  font-size: 0.8rem;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  cursor: pointer;
}
#industry .industry-container .content .options-btn .option-btn.alternative {
  background-color: transparent;
  color: var(--text-colors);
  border: 1px solid color-mix(in srgb, black 10%, transparent);
}
#industry .industry-container .content .options-btn .option-btn.alternative:hover {
  border: 1px solid color-mix(in srgb, var(--colors) 20%, transparent);
  color: var(--colors);
  background-color: transparent;
}
#industry .industry-container .content .options-btn .option-btn:hover {
  background-color: color-mix(in srgb, var(--colors) 70%, black);
}
#industry .industry-container .content .options-btn .option-btn {
  border: 1px solid color-mix(in srgb, var(--colors) 10%, transparent);
}
#industry .industry-container .content .options-btn .option-btn:hover {
  background-color: white;
  border: 1px solid color-mix(in srgb, var(--colors) 30%, transparent);
}
#industry .industry-container .content .options-btn .option-btn.btn-active {
  background-color: var(--colors);
  color: white;
}
#industry .industry-container .content .card-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: clamp(0.8rem, 3vw, 1rem);
}
@media (min-width: 768px) {
  #industry .industry-container .content .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
#industry .industry-container .content .card-wrapper .card {
  background-color: white;
  border-radius: 20px;
  padding: clamp(1rem, 3vw, 2rem);
  border: 1px solid color-mix(in srgb, black 10%, transparent);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 0.6rem;
}
#industry .industry-container .content .card-wrapper .card .title {
  font-size: 16px;
  color: var(--text-colors);
  font-family: var(--primtext);
  font-weight: 500;
}
#industry .industry-container .content .card-wrapper .card .desc {
  font-size: 14px;
  font-family: var(--primtext);
  font-weight: 400;
  line-height: 1.6;
  color: color-mix(in srgb, var(--text-colors) 50%, transparent);
}
#industry .industry-container .content .card-wrapper .card .cta {
  text-decoration: none;
  font-size: 14px;
  margin-top: 1rem;
  color: var(--colors);
}
#industry .industry-container .content .card-wrapper .card .cta:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=industry.css.map */
