@use '../../functions' as f;
@use '../../mixins' as m;
@use '../../variables' as v;

#about-profile {
    background-color: white;
    .about-profile-container {
        .content {
            @include m.flex($justify: start, $items: stretch,$direction: column, $gap: 1rem);

            @include m.respond(sm) {
                @include m.flex($justify: center, $items: center,$direction: row, $gap: 2rem);

                .content-wrapper {
                    width: 50%;
                }
            }

            .content-wrapper-1 {
                border-radius: 20px;
                img {
                    border-radius: 20px;
                    width: 100%;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }

            .content-wrapper-2 {
                @include m.flex($direction: column, $justify: center, $items: start, $gap: 1rem);
                .title {
                    font-size: 24px;
                    font-weight: 500;
                    color: var(--text-colors);
                }

                .desc {
                    font-size: 14px;
                    line-height: 1.6;
                    color: f.mix-color($base: var(--text-colors), $with: transparent, $opacity: 70%);
                }
            }
        }
    }
}