
@use '../../functions' as f;
@use '../../mixins' as m;
@use '../../variables' as v;

#client {
    background-color: f.mix-color($base: var(--colors), $with: transparent, $opacity: 3%);
    .client-container {
        .content {
            @include m.flex($direction: column, $justify: start, $items: stretch, $gap: 2rem);

            .header {
                @include m.flex($justify: center, $items: center);

                .title {
                    font-size: 24px;
                    color: var(--text-colors);
                    font-weight: 600;
                }
            }

            .card-wrapper {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: clamp(1rem, 3vw, 1.8rem);

                @include m.respond(sm) {
                    grid-template-columns: repeat(3, 1fr);
                }

                .card {
                    background-color: white;
                    border-radius: 18px;
                    padding: clamp(1rem, 3vw, 2rem);
                    border: 1px solid f.mix-color($base: black, $with: transparent, $opacity: 10%);
                    @include m.flex($direction: column, $justify: start, $items: start, $gap: .8rem);

                    .stars {
                        @include m.flex($justify: start, $items: center, $gap:4px);

                        i {
                            color: orange;
                        }
                    }


                    .message {
                        font-size: 14px;
                        color: f.mix-color($base: var(--text-colors), $with: transparent, $opacity: 70%);
                        line-height: 1.7;
                    }

                    .author {
                        font-size: 14px;
                        color: f.mix-color($base: var(--text-colors), $with: transparent, $opacity: 50%);
                        line-height: 1.7;
                    }
                }
            }
        }
    }
}