@use '../../functions' as f;
@use '../../mixins' as m;
@use '../../variables' as v;

#product_slider.page-header {
    background: #CDFBF2;
    background: linear-gradient(117deg, rgba(205, 251, 242, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(223, 243, 254, 1) 100%);

    .product_slider-container {
        .content {
            margin-inline: auto;
            @include m.flex($justify: center, $items: center, $direction: column, $gap: 1rem);
            max-width: 600px;

            .title {
                font-size: 30px;
                color: var(--text-colors);
                font-weight: 500;
                text-align: center;

                @include m.respond(md) {
                    font-size: 48px;
                }
            }

            .desc {
                font-size: 16px;
                line-height: 1.6;
                text-align: center;
                color: f.mix-color($base: var(--text-colors), $with: transparent, $opacity: 70%);
            }
        }
    }
}