@use '../../functions' as f;
@use '../../mixins' as m;
@use '../../variables' as v;

#home_products {
    background-color: f.mix-color($base: var(--colors), $with: transparent, $opacity: 3%);
    .home_products-container {
        .content {
            @include m.flex($direction: column, $justify: start, $items: stretch, $gap: 3rem);

            .card-wrapper {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: clamp(.8rem, 3vw, 1rem);
                @include m.respond(sm) {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}
