@use '../../functions' as f;
@use '../../mixins' as m;
@use '../../variables' as v;


#why {
    .why-container {
        .content {
            @include m.flex($direction: column, $justify: start, $items: stretch, $gap: 3rem);

            .card-wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: clamp(.8rem, 3vw, 1rem);

                @include m.respond(sm) {
                    grid-template-columns: repeat(4, 1fr);
                }

                .card {
                    border-radius: 20px;
                    padding: clamp(1rem, 3vw, 2rem);
                    border: 1px solid f.mix-color($base: black, $with: transparent, $opacity: 10%);
                    @include m.flex($direction: column, $justify: start, $items: start, $gap: .6rem);

                    .title {
                        font-size: 16px;
                        color: var(--text-colors);
                        font-family: var(--primtext);
                        font-weight: 500;
                    }
                    .desc {
                        font-size: 14px;
                        font-family: var(--primtext);
                        font-weight: 400;
                        line-height: 1.6;
                        color: f.mix-color($base: var(--text-colors), $with: transparent, $opacity: 50%);
                    }
                }
            }
        }
    }
}
