@use '../../../functions' as f;
@use '../../../mixins' as m;
@use '../../../variables' as v;

.card.review {
    background-color: white;
    border-radius: 20px;
    padding: clamp(1rem, 3vw, 2rem);
    border: 1px solid f.mix-color($base: black, $with: transparent, $opacity: 10%);
    @include m.flex($direction: column, $justify: start, $items: start, $gap: .6rem);

    .message {
        font-size: 16px;
        color: f.mix-color($base: var(--text-colors), $with: transparent, $opacity: 80%);
        line-height: 1.6;
        font-family: var(--primtext);
    }

    .profile-wrapper {
        @include m.flex($justify: start, $items: start, $gap: .5rem);

        .user-image {
            width: 40px;
            height: 40px;
            @include m.flex($justify: center, $items: center);
            border-radius: 999em;
            overflow: hidden;
            background-color: f.mix-color($base: black, $with: transparent, $opacity: 10%);

            i {
                color: f.mix-color($base: black, $with: transparent, $opacity: 20%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .name-location {
            font-size: 14px;
            font-family: var(--primtext);
            font-weight: 400;
            line-height: 1.6;
            margin-top: 10px;
            color: f.mix-color($base: var(--text-colors), $with: transparent, $opacity: 50%);
        }
    }
}